.resto-wrapper{
	height: 100vh;
	display: flex;
	align-items: center;
}
.resto--cover{
	width: 45%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.resto--info{
	flex: 1;
}
.resto--info h4{
	color: #ec1f48;
}
.resto--info h4:after{
	content: none;
}
.resto--info h1{
	margin-bottom: 5px;
}
.resto--info small{
	display: block;
	margin-bottom: 35px;
}
.resto--info p{
	margin-bottom: 35px;
}
a.direction-link 		{color: #2d2e4d;}
a.goback-link{
	display: inline-block;
	background: #2d2e4d;
	color: #fff;
	padding: 10px 15px;
}

@media (max-width: 980px){
	.resto-wrapper{
		height: auto;
		flex-direction: column;
	}
	.resto--cover{
		height: 350px;
		width: 100%;
	}
	.resto--info{
		width: 100%;
		padding-bottom: 100px;
	}
	.resto--info h1{
		font-size: 36px;
	}
}
@media (max-width: 650px){
	.resto--cover{
		height: 250px;
	}
	.resto--info{
		width: 100%;
	}	
}