.about--wrapper{
	display: flex;
	align-items: center;
	max-height: 100vh;
	overflow: hidden;
}
.about--wrapper img 	{height: 100vh;}
.about-info{
	flex: 1;
	padding: 0 100px;
}
.about-info .inner{
	color: #2d2e4d;
	max-width: 650px;
}
.about-info h4{
	position: relative;
	background: #fff;
	font-weight: 400;
	font-size: 24px;
}
.about-info h4:after{
	content: '';
	position: absolute;
	width: 330px; height: 1px;
	top: 50%; left: 180px;
	background: #d0d0d0;
	z-index: 0;
}
.about-info h1{
	text-transform: uppercase;
	font-size: 64px;
	margin-top: 15px;
	margin-bottom: 35px;
}
.about-info a{
	color: #ec1f48;
}
.about-info p.two-col{
	margin-top: 20px;
}
.social-list{
	list-style-type: none;
	margin: 0; padding: 0;
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.social-list li{
	font-size: 18px;
	margin-right: 10px;
}
.social-list a{
	display: inline-block;
	padding: 10px;
}
.social-list a:hover{
	color: #2d2e4d;
}

@media (max-width: 1200px){
	.about--wrapper 			{padding: 30vh 0;}
	.about--wrapper img{
		height: 500px;
		margin-left: 50px;
	}
}
@media (max-width: 1080px){
	.about--wrapper img{
		height: 550px;
		margin-left: 25px;
	}
}
@media (max-width: 980px){
	.about--wrapper{
		min-height: 100vh;
		max-height: none;
		height: auto;
		padding: 0;
		padding-bottom: 75px;
		flex-direction: column-reverse;
	}
	.about--wrapper img{
		height: auto;
		max-width: 300px;
		margin-left: 0;
	}
	.about-info{
		padding: 50px 25px;
	}
}
@media (max-width: 780px){
	.about-info h4 		{font-size: 18px;}
	.about-info h4:after{
		left: 140px;
		width: 100px;
	}
	.about-info h1 		{font-size: 42px;}

}