.addcity-wrapper{
	display: flex;
	height: 100vh;
}
.addleft{
	width: 50%;
	padding: 50px;
	overflow-y: scroll;
	border-right: 1px solid #e5e5e5;
}
.addright{
	width: 50%;
	padding: 50px;
}
.all-cities{
	list-style-type: none;
	margin: 0; padding: 0;
}
.all-cities li{
	margin-bottom: 35px;
}
.all-cities img{
	width: 100%;
	height: auto;
}
.all-cities h3{
	display: block;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 30px;
	margin-bottom: 10px;
}
.all-cities h3 a{
	font-size: 12px;
	color: red;
	font-weight: 300;
}
.addcity-wrapper form{
	margin-top: 35px;
}
.form-input{
	border: 1px solid #e5e5e5;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	display: block;
	resize: none;
	margin-bottom: 10px;
	outline: none;
	transition: all .3s ease;
}
.form-input:focus{
	border-bottom: 1px solid #000;
}
.add-btn{
	border: 1px solid #111619;
	background: #111619;
	display: inline-block;
	color: #fff;
	padding: 15px;
	cursor: pointer;
	transition: all .3s ease;
}
.add-btn:hover{
	background: #ec1f48;
	border: 1px solid #ec1f48;
}
.add-container{
	border: 1px solid red;
	margin-bottom: 20px;
}
.dif-link{
	color: #ec1f48;
	display: inline-block;
	margin-top: 25px;
	font-size: 18px;
	transition: color .3s ease;
}
.dif-link:hover{
	color: #111619;
}