.discover-wrapper{
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
@media (max-width: 980px){
	.discover-wrapper{
		height: 100%;
		position: relative;
		background: #000 !important;
		padding-bottom: 100px;
	}
	.discover-wrapper .dark-filter{
		height: 100%; width: 100%;
		top: 0; left: 0;
	}
}