.map-wrapper{
	min-height: 100vh;
	position: relative;
}

.map-content{
	float: right;
	width: 50vw;
	padding: 25px 25px 100px 25px;
}
.map-content h1{
	text-align: center;
	padding: 50px 0;
}
.map-wrapper > div:first-child{
	width: 50% !important;
	position: fixed !important;
}

.resto-cover-list{
	list-style-type: none;
	padding: 0; margin: 0;
	display: flex;
	flex-wrap: wrap;
}
.resto-cover-list li{
	width: 50%;
	padding: 5px 10px;
}
.resto-cover-list .resto-cover{
	height: 200px; width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 3px;
}
.resto-cover-list .resto-info 	{padding: 10px 0;}
.resto-cover-list a 					{display: block;}

.resto-cover-list h4{
	color: #ec1f48;
	font-weight: 400;
	font-size: 14px;
}
.resto-cover-list h3{
	color: #2d2e4d;
}
.resto-cover-list small{
	color: #999;
}
a.toggle-btn{
	position: fixed;
	top: 10px; left: 10px;
	display: inline-block;
	padding: 10px 15px;
	background: #ec1f48;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	z-index: 999;
}
.info-modal{
	text-align: center;
}
.info-modal h4{
	font-size: 22px;
	max-width: 200px;
	line-height: 28px;
}
.info-modal p{
	font-size: 14px;
	max-width: 200px;
}
@media (max-width: 1080px){
	.resto-cover-list li{
		width: 100%;
		padding: 5px 10px;
		margin-bottom: 25px;
	}
	.resto-cover-list .resto-cover{
		height: 250px;
	}
}
@media (max-width: 920px){
}