.login-section{
	position: absolute;
	z-index: 30;
	width: 100px;
	top: 0; right: 0;
}
.login-section a{
	display: block;
	background: #000;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	opacity: .3;
	transition: all .3s ease;
}
.login-section a:hover{
	background: #fff;
	color: #000;
	opacity: 1;
}