*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}
body{
	font-family: brandon-grotesque, sans-serif;
}

.app 	{height: 100vh;}

.dark-filter{
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	z-index: 0;
}
.dark-filter.dark 	{background: rgba(0,0,0,0.75);}
.dark-filter.med 		{background: rgba(0,0,0,0.50);}
.dark-filter.light 	{background: rgba(0,0,0,0.25);}

h1, h2, h3, h4, h5, h6{
	font-family: bureau-grot, sans-serif;
	font-weight: 700;
}
p{
	font-size: 18px;
	line-height: 26px;
}

p.two-col 	{column-count: 2;}

a{
	text-decoration: none;
	transition: all .3s ease;
}
.main-nav{
	position: fixed;
	right: 0; bottom: 0;
	z-index: 2;
}

.main-nav a{
	color: #fff;
	display: inline-block;
	padding: 30px 40px;
	background: #111619;
	text-transform: uppercase;
}
.main-nav a:hover{
	background: #ec1f48;
	color: #fff;
}

.openMenu 		{display: none;}

@media (max-width: 980px){
	.openMenu{
		position: fixed;
		display: block;
		bottom: 0; left: 0;
		z-index: 99;
		background: #111619;
		color: #fff;
		padding: 10px;
		width: 100%;
		text-align: center;
		cursor: pointer;
	}
	.main-nav{
		position: fixed;
		width: 100%;
		left: 0; bottom: 0;
		transform: translateY(100%);
		transition: all .3s ease;
	}
	.main-nav.open 	{transform: translateY(-43px);}
	.main-nav a 		{display: block;}

	p.two-col 	{column-count: 1;}
}